




*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background-color: #262626;
}






.contendorpadre{
   display: flex;
   flex-wrap: wrap-reverse;
   
   
    width: 100%;



}



.contendorcanvas{

  flex: 1 0 500px ;

 display: flex;
 justify-content: center;
 align-items: center;
 

  width: 50%;
  height: 500px;
  position: relative;


}


#canvas{
 z-index: -1;


  border-radius: 100%;
  border: solid 10px rgb(26, 26, 26);
 background-color: rgb(255, 255, 255);
  position: absolute;

  font-size: 18px;

   width: 500px;
   height: 500px;



}

.fa-bars{
  font-size: 50px;

  color: aliceblue;
}


.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
border-bottom: solid #eaeaea 5px;
min-width: 500px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 500px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media (max-width: 500px) {
  .nav-links {
      display: none;
      flex-direction: column;
  
      text-align: left;
      position: absolute;
      background-color: #333;
      top: 60px;
      left: 0;
      z-index: 1;
  }

  .nav-links.active {
      display: flex;
  }

  .menu-icon {
      display: flex;
  }
}










.infromacion_perfil{


flex: 1 0 500px ;
     display: flex;
     flex-direction: column;
     justify-content: center;






    & h1{
        text-justify: distribute-all-lines;
        text-align: center;
        font-family: sans-serif;
        font-style: italic;
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(#262626,#eaeaea,#262626);
        -webkit-background-clip: text;
        color: transparent;
     



        
    }
    
   & p {
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
   }
      
}








/* botones animados */




.botonera{
   padding: 20px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
    justify-content:space-around;
}




/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color:rgb(148, 193, 103);
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}






















